    /* General styles */
    body {
      font-family: Arial, sans-serif;
      background-color: #f4f4f4;
      margin: 0;
      padding: 0;
    }

    .empty-space {
      margin-top: 350px;
      margin-bottom: 350px;
    }

    /* Tab styles */
    .tab {
      overflow: hidden;
      background-color: #fff;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      border-radius: 10px;
      margin-bottom: 20px;
    }

    .tab button {
      background-color: #66cdaa;
      /* Greenish color */
      border: none;
      outline: none;
      cursor: pointer;
      padding: 10px 20px;
      transition: 0.3s;
      font-size: 16px;
      border-radius: 10px;
      margin-right: 5px;
      margin-bottom: 5px;
      color: #fff;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    .tab button:hover {
      background-color: #4682b4;
      /* Steel blue color */
    }

    .tab button.active {
      background-color: #8a2be2;
      /* Blue violet color */
    }

    /* Tab content styles */
    .tabcontent {
      display: none;
      padding: 20px;
      border-top: 2px solid #8a2be2;
      /* Blue violet color */
      border-radius: 0 0 10px 10px;
      background-color: #fff;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    .table-container {
      max-width: 800px;
      /* Adjust the maximum width as needed */
      margin: 0 auto;
      /* Center the table within its container */
      border-radius: 10px;
      overflow: hidden;
    }

    .table {
      width: 100%;
      border-collapse: collapse;
      margin-top: 20px;
      border-radius: 10px;
      overflow: hidden;
    }

    .table th,
    .table td {
      border: 1px solid #ddd;
      padding: 8px;
      text-align: left;
      font-size: 14px;
    }

    .table th {
      background-color: #4682b4;
      /* Steel blue color */
      font-weight: bold;
      color: #fff;
    }

    .table tbody tr:nth-child(even) {
      background-color: #d3d3d3;
      /* Light grey color */
    }

    .table tbody tr:hover {
      background-color: #f0f8ff;
      /* Alice blue color */
    }

    /* Responsive styles */
    @media only screen and (max-width: 768px) {
      .tab button {
        padding: 8px 12px;
        font-size: 14px;
      }

      .table th,
      .table td {
        padding: 6px;
        font-size: 12px;
      }

      .table th {
        font-size: 14px;
      }
    }

    .download-btn {
      background-color: #4682b4;
      /* Steel blue color */
      color: #fff;
      /* White text color */
      padding: 8px 16px;
      /* Adjust padding as needed */
      border-radius: 5px;
      /* Add rounded corners */
      text-decoration: none;
      /* Remove underline */
      transition: background-color 0.3s ease;
      /* Smooth color transition */
    }

    .download-btn:hover {
      background-color: #4169e1;
      /* Darker blue on hover */
    }